*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
*.sln.ide
*.sln.metaproj

[Bb]in/
[Oo]bj/

.idea/
*.sln.iml

*.nunit
/TestResult.xml

*.log

*.mdf
*.ldf
*.sdf

*.nupkg
/packages/
/nuget/

*~
*.tmp
*.bak
*.orig